@media(min-width:1001px){
  .container{
    display:none;
  }
}
/*タブレット用レイアウト*/
@media (max-width:1000px) {






  .first,.ni,.san,.shi,.go,.roku,.nana{
    display:none;
    font-size:20px
  }
  .first,.ni,.san{
    padding-top:0px;
  }
  .header{
    height:500px;
    width:100%;
  }
  .mes1{
    font-size:30px;
  }
  .mes2,.mes4{
    font-size:15px;
  }
  .MESSAGE li,.mes3{
    font-size:20px;
  }
  .sizehenkou{
    padding:0px 150px;
  }
  .cochira{
    margin:0px 300px
  }
  .link1{
    margin-left:130px;
    margin-right:80px;
  }
  .link2{
    margin-left:150px;
    margin-right:150px;
  }
  .link3{
    margin-left:270px;
    margin-right:230px;
  }
  .link4{
    margin-left:30px;
  }
}



/*スマホ用レイアウト*/
@media (max-width:670px) {
  .header{
    background-size:cover;
    width:100%;
    height:800px:
  }
  .MESSAGE{
    margin:0px 30px;
  }
 .mes1{
   font-size:20px;
   margin:0px -20px;
 }
 .mes2{
   font-size:15px;
   margin:0px -40px;
 }
 .mes3{
   margin:20px -30px;
 }
 .gazou1,.gazou2{
   height:300px;
 }
 .gazou3{
   height:250px;
 }
 .gazou4{
   height:400px;
 }
 .gazou5,.gazou6{
   height:200px;
 }
 .CARE h2{
   font-size:27px;
 }
 .nico{
   height:200px;
 }
 .img1{
   margin-left:-145px;
   height:230px;
   width:300px;
 }
 .CARE p{
   font-size:35px
 }
 .CARE li{
   font-size:20px;
 }
 .sonota{
   margin-left:40px;
   margin-right:70px;
 }
 .img2{
   margin-left:-100px;
   height:250px;
 }
 .NPO h2{
   font-size:30px;
 }
 .img3{
   margin-left:-100px;
   height:250px;
 }
 .kj{
   font-size:25px;
 }
 .NPO li{
   font-size:15px;
 }
 .sizehenkou{
   margin:0 -105px;
 }
 .FOOD h2{
   font-size:30px;
 }
 .taku{
   font-size:30px;
 }
 .g1{
   height:100px;
 }
 .taiken{
   margin:20px;
 }
 .katudou{
   margin:20px;
 }
 .mati{
   margin:0px 30px;
 }
  .COMPANY h2{
    font-size:30px;
  }
  .COMPANY p{
    font-size:20px;
  }
  .cochira{
    margin:0px 30px;
  }
  .LINK a{
    float:none;
    width:40%;
    font-size:10px;
  }
  .link1{
    margin-left:20px;
  }
  body{
    margin-bottom:200px;
  }
}
