.logo {
  width: 124px;
  height:80px;
  margin-top: 20px;
  margin-left:220px;
  float:left;
}
.container h1{
  float:left;
  font-size:60px;
  margin-top:30px;
  color:#00ffff;
  opacity:0.8;
  margin-left:30px;
  weight:40px;
  font-family:'HG行書体';
}
.container{
  height:120px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}






html{
  margin-left:-8px;
  margin-right:-9px;
}
body {
  font-family:'Hiragino Kaku Gothic ProN W3', sans-serif;
  text-align:center;
  margin-right:-1px;
}
.header{
  background-image:url("http://officekugayama.sakura.ne.jp/images/KEN05694.jpg");
  width:100%;
  height:700px;
  opacity:0.7;
  padding-top:30px;
  background-size:cover;
  margin-top:-9px;
  background-position:center;
}
.header-item p{
  position:absolute;
  top:210px;
  right:250px;
  font-size:20px;
}
.header-item a{
  float:left;
  margin-top:240px;
  padding-right:20px;
  font-size:40px;
  color:#173beb;
  transition:all 0.5s ease;
}
.header-item a:hover{
  color:black;
  opacity:1.0;
}
.first{
  margin-left:60px;
}
.comme{
  padding-left:100px;
  transition:all 0.5s ease;
}
.comme:hover{
  color:#87ceeb;
}
.MESSAGE h1{
  margin-top:100px;
  font-size:50px;
  font-family:'Comic Sans MS';
}
.MESSAGE li{
  color:blue;
}
.mes1{
  color:#1717eb;
  padding:70px;
  font-size:60px;
  font-family:'Latha';
}
.mes2{
  color:black;
  font-size:40px;
  font-family:sans-serif;
  font-weight:20px;
  margin:0px 210px;
}
.mes4{
  margin-top:30px;
  color:black;
  font-size:40px;
  font-family:sans-serif;
  font-weight:20px;
}
.GALLERY h1{
  padding:100px 0px;
  font-size:50px;
  font-family:'Comic Sans MS';
}
.MESSAGE li{
  list-style:none;
  font-size:40px;
  font-family:sans-serif;
  font-weight:20px;
}
.mes3{
  font-size:40px;
  font-family:sans-serif;
  font-weight:bold;
}
.modoru{
  color:#173beb;
  font-size:20px;
  margin-top:50px;
  margin-bottom:50px;
  transition:all 0.5s ease;
}
.modoru:hover{
  color:#0d2080;
}
.gazou1{
  float:left;
  width:33.333333333%;
  height:600px;
}
.gazou2{
  float:left;
  width:33.333333333%;
  height:600px;
}
.gazou3{
  float:left;
  width:33.333333333%;
  height:400px;
}
.gazou4{
  float:left;
  height:600px;
  width:33.333333333%;
}
.gazou5{
  float:left;
  height:300px;
  width:33.333333333%;
}
.gazou6{
  float:left;
  height:300px;
  width:33.333333333%;
}
.CARE h1{
  margin-top:100px;
  font-size:50px;
  font-family:'Comic Sans MS';
}
.CARE h2{
  margin-top:50px;
  font-size:60px;
  color:#1affff;
}
.img1{
  width:50%;
  height:450px;
  padding-left:200px;
  padding-top:20px;
  padding-right:200px;
}
.CARE h3{
  font-size:50px;
  font-weight:50px;
}
.CARE p{
  font-size:60px;
  font-weight:30px;
}
.CARE li{
  font-size:30px;
}
li{
  list-style:none;
}
.img2{
  width:50%;
  height:450px;
  padding-left:200px;
  padding-top:20px;
  padding-right:200px;
}
 h1{
  margin-top:100px;
  font-size:50px;
    font-family:'Comic Sans MS';
}
h2{
  margin-top:50px;
  font-size:60px;
  color:#1affff;
}
.img3{
  width:50%;
  height:450px;
  padding-left:200px;
  padding-top:20px;
  padding-right:200px;
}
h3{
  font-size:50px;
  font-weight:50px;
}
.kj{
  font-size:40px;
  font-weight:30px;
}
.NPO li{
  font-size:20px;
  margin-right:20px;
}
.taku{
  font-size:40px;
}
.HISTORY{
  margin-bottom:20px;
}
.HISTORY1{
  background-image:url("http://officekugayama.sakura.ne.jp/images/bgSec04.jpg");
  width:100%;
  height:4700px;
  background-size:cover;
  opacity:0.8;
  background-attachment: fixed;
}

.HISTORY1 a{
  transition:0.5s all ease;
  color:blue;
}
.HISTORY1 a:hover{
  color:black;
}
.g1{
  padding-top:50px;
}
.HISTORY1 p{
  color:white;
  font-weight:100px;
  font-size:50px;
  opacity:1.0;
}
.btn1{
  margin-top:20px
}
.COMPANY h2{
  font-size:50px;
  color:black;
  margin-bottom:10px
}
.COMPANY p{
  font-size:30px;
  margin-top:-10px;
}
.COMPANY li{
  font-size:20px;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius:4px;
}
.btn:hover{
  opacity:1;
}
.facebook {
  background-color:#3b5998;
  margin-right:10px;
}
.twitter {
  background-color: #55acee;
  margin-right:10px;
}
.instagram{
  background-color:#c71585;
}
.fa{
  color:white;
  font-size:5px;
}
.COMPANY a{
  font-size:20px;
  transition:all 0.5s ease;
}
.COMPANY a:hover{
  color:black;
}
.LINK{
  margin-right:50px;
  margin-left:50px;
}
.LINK a{
    transition:all 0.5s ease;
    color:#173beb;

}
.LINK a:hover{
  color:black;
}
.himitu{
  color:#173beb;
  transition:all 0.5s ease;
}
.himitu:hover{
  color:black;
}
.kuwashiku{
  color:blue;
  font-size:20px;
  transition:all 0.5s ease;
}
.kuwashiku:hover{
  color:black;
}
..cochira{
  transition:all 0.5s ease;
  color:blue;
}
.cochira:hover{
  color:black;
}
